<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95653926946-1n531se2kcaep83l4kmlpbmfkn414q3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95653926946-1n531se2kcaep83l4kmlpbmfkn414q3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>95653926946-ledeveoqevsqei61avb06bukc4efkfml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ0q0SP6j8h625t1TT6RnF5WPpg8AUwJg</string>
	<key>GCM_SENDER_ID</key>
	<string>95653926946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GuardaditosTR</string>
	<key>PROJECT_ID</key>
	<string>guardaditostr</string>
	<key>STORAGE_BUCKET</key>
	<string>guardaditostr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95653926946:ios:bde898cabfaa4f5ee5127b</string>
</dict>
</plist>